.newswiper {

    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    width: 1170px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper_newwrap {
    position: relative;
    right: 108px;
}

.new_swiper_slide {
    background-position: center;
    background-size: cover;
    width: 330px !important;
    height: 300px;
    /* filter: blur(1px); */
    opacity: 0.5;
}





#test-mony {
    flex-direction: column;
    /* position: relative; */
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.head_testm {
    font-size: 34px;
    font-family: "Montserrat-ExtraBold";
    color: #2096f3;
    margin-bottom: 60px;
}




.swiper-slide-active {
    filter: blur(0px);
    opacity: 1;

}

.testimonials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    width: 550px;
    background: #fff;
    border: 2px solid #5e5eff;
    padding: 8px 18px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
    border-radius: 6px;
}

.top_info {
    display: flex;
    align-items: center;

}

.test_name {
    margin: 3px 0px;
    font-size: 28px;
    font-family: "Montserrat-semibold";
}

.test_img {
    height: 16px;
}

.sub_info {}
























* {
    box-sizing: border-box;
}

.flx_row {
    display: flex;
    flex-direction: row;
}

.flx_col {
    display: flex;
    flex-direction: column;
}

.mp0 {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: url('/Icons/bg.png') no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
}

.complete_container {
    height: inherit;
    width: inherit;
}

.wh100 {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: "Montserrat-Black";
    src: url("/fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: "Montserrat-BlackItalic";
    src: url("/fonts/Montserrat-BlackItalic.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-BoldItalic";
    src: url("/fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("/fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: "Montserrat-ExtraBoldItalic";
    src: url("/fonts/Montserrat-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("/fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: "Montserrat-ExtraLightItalic";
    src: url("/fonts/Montserrat-ExtraLightItalic.ttf");
}

@font-face {
    font-family: "Montserrat-Italic";
    src: url("/fonts/Montserrat-Italic.ttf");
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("/fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Montserrat-LightItalic";
    src: url("/fonts/Montserrat-LightItalic.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-MediumItalic";
    src: url("/fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat-SemiBoldItalic";
    src: url("/fonts/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "Montserrat-Thin";
    src: url("/fonts/Montserrat-Thin.ttf");
}

@font-face {
    font-family: "Montserrat-ThinItalic";
    src: url("/fonts/Montserrat-ThinItalic.ttf");
}



/*  */




/* Achivemnet Section */
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

.blue_bg {
    background: url(/Icons/achive-bg.png) no-repeat;
    height: 62%;
    width: 100%;
    /* position: relative; */
    margin: 20px 0px;
}

.inner_piece {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .inner-box {
    position: relative;
    background: url(/Icons/box.png) no-repeat;
    height: 229px;
    width: 19%;
    background-size: 220px 220px;
} */




/* .inner-box img {
    height: 138px;
    width: 152px;
    position: absolute;
    border-radius: 143px;
    top: 35px;
    left: 35px;
} */

/* .box-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 95px;
    background-color: red;
} */


.img_inner_box {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.box-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    position: relative;
    top: 20px;
}

.inner-box {
    /* position: relative;
    top: 188px; */
    height: 140px;
    width: 145px;
    background-color: white;
    margin-left: 65px;
    border-radius: 23px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.forall {
    text-align: center;
    position: relative;
    /* top: 215px; */
}

.achive_head {
    font-size: 25px;
    font-family: "Montserrat-bold";
    text-align: center;
    margin-bottom: 22px;
    margin-top: 10px;
    color: #ffff;
}

.comman_class {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: "Montserrat-bold";
    /* text-align: center; */
    margin-right: 12px;
    color: #ffff;
}

.pic_count {
    font-size: 36px;
    font-family: "Montserrat-extrabold";
    color: #5d5b5b;
}

.img_tags_para {
    font-size: 15px;
    font-family: "Montserrat-extrabold";
    color: #5d5b5b;
}

/* clients user */

#client_use {
    /* background-color: #fff; */
    /* position: relative; */
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

.clients_head {
    font-size: 30px;
    font-family: "Montserrat-Extrabold";
    text-align: center;
    margin-bottom: 22px;
    margin-top: 10px;
}

.number_count {
    font-size: 80px;
    font-family: "Montserrat-extrabold";
    margin-right: 10px;
}

/* testimoney */



/* Swiper Change */

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none !important;
}


/* typo container */
.typo_container {
    height: 300px;
    background: #333;
}

#typed_output {
    padding: 200px 0 100px 50px;
    color: #fff;
}

/* owl caraousal */

.carousel-wrap {
    margin: 90px auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 52px;
}

.owl-nav .owl-prev {
    left: -30px;
}

.owl-nav .owl-next {
    right: -30px;
}