/* utility classes */
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.flx_row{
    display: flex;
    flex-direction: row;
}
.flx_col{
    display: flex;
    flex-direction: column;
}
.mp0{
    margin: 0;
    padding: 0;
}
a {
    color: #000;
    text-decoration: none;
}
body{
    height: 100%;
    width: 100%;
    background: url('/Icons/bg2.png') no-repeat;
    background-size:cover;
    /* min-height: 100vh; */
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb
{
	background-color: #43494a;
	border: 1px solid #555555;
}
.colorblue{
    color: #2096f3;
}
.colorblack{
    color: #43494a;
}
.complete_container{
    height: inherit;
    width: inherit;
}
.wh100{
    height: 100%;
    width: 100%;
}

/* font-family */
@font-face {
    font-family: "Montserrat-Black";
    src: url("/fonts/Montserrat-Black.ttf");
}
@font-face {
    font-family: "Montserrat-BlackItalic";
    src: url("/fonts/Montserrat-BlackItalic.ttf");
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("/fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: url("/fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
    font-family: "Montserrat-ExtraBoldItalic";
    src: url("/fonts/Montserrat-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("/fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
    font-family: "Montserrat-ExtraLightItalic";
    src: url("/fonts/Montserrat-ExtraLightItalic.ttf");
}
@font-face {
    font-family: "Montserrat-Italic";
    src: url("/fonts/Montserrat-Italic.ttf");
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("/fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: "Montserrat-LightItalic";
    src: url("/fonts/Montserrat-LightItalic.ttf");
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "Montserrat-MediumItalic";
    src: url("/fonts/Montserrat-MediumItalic.ttf");
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: "Montserrat-SemiBoldItalic";
    src: url("/fonts/Montserrat-SemiBoldItalic.ttf");
}
@font-face {
    font-family: "Montserrat-Thin";
    src: url("/fonts/Montserrat-Thin.ttf");
}
@font-face {
    font-family: "Montserrat-ThinItalic";
    src: url("/fonts/Montserrat-ThinItalic.ttf");
}
/* navbar section */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: #f2f2f2;
}
.options{
    width: 50%;
    justify-content: space-between;
    margin: 0px 30px 0px 200px;
    font-family: "Montserrat-Bold";
    font-size: 18px;
    color: #43494a;
}
.options div{
    cursor: pointer;
    text-transform: uppercase;
}
.para_vid{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px 0px 20px 0px;
}
.btn_copy_content{
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Montserrat-Bold";
    width: 70%;
    padding: 10px 20px;
    margin: 10px 10px 10px 70px;
    white-space: nowrap;
}

.img_vid_content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.img_vid_content img{
    width: 92%;
    height: auto;
}
.play_abs{
    position: absolute;
    top: 1px;
    cursor: pointer;
}
/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    top: 13%;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 700px;
  }
  
  /* Close Button */
  .close {
    position: absolute;
    top: 0px;
    right: 0;
    padding: 0px 10px 10px 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 12;
  }
  
  
  /* Video */
  #modal-video {
    width: 100%;
    height: auto;
  }
  .scale-video {
    animation: scale 0.4s ease-in-out;
  }
  @keyframes scale {
    0%{
        scale: 0;
    }100%{
        scale: 1;
    }
  }


.visit_btn{
    margin: 15px 0px;
    width: 210px;
    cursor: pointer;
}
.visit_btn img{
    width: 100%;
    height: auto;
}
.ab_us{
    margin: 20px 290px;
    text-align: center;
}
.about_hrading{
    font-size: 35px;
    font-family: "Montserrat-ExtraBold";
    text-transform: uppercase;
}
.para{
    font-family: "Montserrat-Medium";
    font-size: 16px;
    padding: 10px 30px 20px 30px;
}
.lets_btn img{
    height: 49px;
    width: 230px;
    cursor: pointer;
}
.dco_container{
    margin: 35px 0px;
}
.para_gif_content{
    justify-content: space-between;
    align-items: center;
}
.wh_dco{
    width: 37%;
    margin: 20px 10px 0px 60px;
}
.create_btn img{
    width: 200px;
    height: 47px;
    cursor: pointer;
}
.f_head{
    font-size: 35px;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    padding: 0px 0px 27px 0px;
}
.para1, .para2{
    font-family: "Montserrat-Medium";
    line-height: 28px;
}
.create_btn{
    margin: 40px 10px 10px 0px;
}
.wh_dco_gif img{
    width: 100%;
    height: auto;
}
.why_dco{
    width: 37%;
    margin: 40px 50px 0px 10px;
    text-align: right;
}
.why_dco_gif img{
    width: 100%;
    height: auto;
    scale: 0.8;
}
.para_gif_content2{
    justify-content: space-between;
    align-items: center;
}
.s_head{
    font-size: 35px;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    padding: 0px 0px 40px 0px;
}
.type{
    font-family: "Montserrat-Medium";
    line-height: 34px;
    word-spacing: 3px;
    justify-content: flex-end;
}
.type img{
    height: 25px;
    width: 25px;
    margin-left: 20px;
    vertical-align: middle;
}
.sales_btn{
    margin: 60px 10px 10px 0px;
}
.sales_btn img{
    width: 200px;
    height: 46px;
    cursor: pointer;
}

/* swiper container */

#usp_head_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* height: 430px; */
    width: 100%;
    background: url('/Icons/swipeblue.png') repeat;
    /* background-size: cover; */
}

#usp_head img {
    position: relative;
    height: 550px;
}

.first_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 540px;
    max-width: 100%;
    position: relative;
    top: 0px;
}

.first_box p {
    font-family: "Montserrat-Bold";
    font-size: 54px;
    color: #f6f6f6;
}

.head_in {
    font-family: "Montserrat-SemiBold";
    font-size: 25px;
    color: #626d6e;
    margin-bottom: 3px;
    margin-top: 18px;
}

.para_in {
    font-family: "Montserrat-medium";
    font-size: 17px;
    color: #626d6e;
}

.partol {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    top: 23px;
    left: 23px;
    padding: 4px 14px;
}

.call_me_gif {
    height: 200px;
}

/*  */
.img-box {
    max-width: 90%;
    position: relative;
    top: 50px;
    height: 420px;
    /* width: 99%; */
    background: url('/Icons/swipecard.png') no-repeat;
}

.img {
    position: absolute;
    height: 500px;
    width: 100%;
}

.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.swiper {
    margin-left: 60px !important;
    margin-right: 60px !important;
}

.swiper-slide-major {
    width: 390px !important;
    margin-right: 30px !important;
}

.again {
    width: 340px !important;
    margin-right: 0px !important;
}

/* Achievement section */
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

.blue_bg {
    background: url(/Icons/achive-bg.png) repeat;
    height: 62%;
    width: 100%;
    /* position: relative; */
    margin: 20px 0px;
}

.inner_piece {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img_inner_box {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.box-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 56%;
    position: relative;
    top: 20px;
}

.inner-box {
    /* position: relative;
    top: 188px; */
    height: 140px;
    width: 145px;
    background-color: white;
    border-radius: 23px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.forall {
    text-align: center;
    position: relative;
    /* top: 215px; */
}

.achive_head {
    font-size: 25px;
    font-family: "Montserrat-bold";
    text-align: center;
    margin-bottom: 22px;
    margin-top: 10px;
    color: #ffff;
}

.comman_class {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: "Montserrat-bold";
    /* text-align: center; */
    margin-right: 12px;
    color: #ffff;
}

.pic_count {
    font-size: 36px;
    font-family: "Montserrat-extrabold";
    color: #5d5b5b;
}

.img_tags_para {
    font-size: 15px;
    font-family: "Montserrat-extrabold";
    color: #5d5b5b;
}
#client_use {
    /* background-color: #fff; */
    /* position: relative; */
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

.clients_head {
    font-size: 30px;
    font-family: "Montserrat-Extrabold";
    text-align: center;
    margin-bottom: 22px;
    margin-top: 10px;
}

.number_count {
    font-size: 80px;
    font-family: "Montserrat-extrabold";
    margin-right: 10px;
}


/* testimoney */

#carousel3d {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* background-color: #fff; */
    padding: 10px;
    transition: all 0.2s;

}

.carousel-3d-slide {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    top: 0;
    border-color: #000;
    border-color: rgba(0, 0, 0, .4);
    border-style: none !important;
    background-size: cover;
    background-color: transparent;
    display: block;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
    width: 470px !important;
    /* height: 0px !important; */
}


.carousel-3d-slide .current {
    background-color: #333;
    color: #fff;

}


#test-mony {
    flex-direction: column;
    /* position: relative; */
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.head_testm {
    font-size: 34px;
    font-family: "Montserrat-ExtraBold";
    color: #2096f3;
    margin-bottom: 60px;
}

.testimonials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 250px;
    width: 550px; */
    background: #fff;
    border: 2px solid #5e5eff;
    padding: 8px 18px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
    border-radius: 6px;
}

.top_info {
    display: flex;
    align-items: center;

}

.test_name {
    margin: 3px 0px;
    font-size: 28px;
    font-family: "Montserrat-semibold";
}

.test_img {
    height: 16px;
}


/* #test-mony {
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.head_testm {
    font-size: 34px;
    font-family: "Montserrat-ExtraBold";
    color: #2096f3;
    margin-bottom: 60px;
}

.swiper {
    width: 1170px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-wrapper {
    position: relative;
    right: 108px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 330px !important;
    height: 300px;
    /* filter: blur(1px); */
    /* opacity: 0.5; */
    /* backface-visibility: visible; */
/* } */ 


.swiper-slide-active {
    filter: blur(0px);
    opacity: 1;

}

.testimonials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    /* width: 550px; */
    background: #fff;
    border: 2px solid #5e5eff;
    padding: 8px 18px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
    border-radius: 6px;
}

.top_info {
    display: flex;
    align-items: center;

}

.test_name {
    margin: 3px 0px;
    font-size: 28px;
    font-family: "Montserrat-semibold";
}

.test_img {
    height: 16px;
}

/* .sub_info {} */

/* Swiper Change */

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none !important;
}

/* self serve and footer */
.options div {
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}
.options div a{
    white-space: nowrap;
    cursor: pointer;
}

.menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 65px;
    height: 65px;
    opacity: 0;
    background: #2096F3;
}

.menu-wrap .hamburger {
    position: absolute;
    background: #2096F3;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 70px;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/*Hamburger Lines*/
.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 130%;
    height: 6px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
    transition: all 0.3s ease;
}

/* Hamburger Top & bottom lines */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -15px;
    width: 100%;
    height: 6px;
    background: inherit;
    border-radius: 3px;
}

.menu-wrap .hamburger>div::after {
    top: 15px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked+.hamburger>div::before,
.menu-wrap .toggler:checked+.hamburger>div::after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.2s ease 0.1s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: top;
    justify-content: right;
}

.menu-wrap .menu>div {
    background: #fff;
    height: 350px;
    margin-top: 75px;
    margin-right: 10px;
    display: flex;
    flex: none;
    align-items: flex-start;
    justify-content: right;
    transform: scale(0);
    transition: all 0.2s;
}

.menu-wrap .menu>div>div {
    text-align: right;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.menu-wrap .menu>div>div>ul {
    padding: 0px;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #777;
    font-size: 1.5rem;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    border-bottom: 1px solid #d4d4d4;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
    display: block;
    height: 100%;
    width: 100%;
}

.menu-wrap .menu>div>div>ul>li>a:hover {
    color: #2096F3;
}

#selfserve .vid-container {
    display: flex;
    justify-content: center;
    z-index: -1;
}

#selfserve .vid-container video {
    padding: 0;
    margin-top: -250px;
    z-index: -1;
}
#selfserve{
    margin-top: 650px;
}
#selfserve .abs_self {
    position: absolute;
    left: 0px;
    top: -610px;
    justify-content: center;
    width: 100%;
    scale: 0.9;
    height: auto;
    display: flex;
    z-index: -5;
}
#selfserve .self-container {
    background: url("/Icons/selfserve-bg.png") no-repeat center center/cover;
    /* z-index: 1; */
    width: 100%;
    position: relative;
    /* margin-top: -650px; */
}

#selfserve .self-title {
    width: 70%;
    margin: auto;
    padding-top: 50px;
}

#selfserve .self-title h4 {
    font-size: 45px;
    color: #fff;
    text-align: center;
    font-family: "Montserrat-Bold";
}

#selfserve .steps {
    display: flex;
    justify-content: space-evenly;
}

#selfserve .steps .step img {
    width: 100%;
    height: auto;
    scale: 0.9;
}

#selfserve .steps .step .step-text {
    font-size: 28px;
    margin: auto;
    margin-top: -30px;
    font-family: "Montserrat-Medium";
    color: #fff;
    text-align: center;
    width: 70%;
}

#selfserve .cta {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 50px;
}

#selfserve .cta .cta-btn {
    background: #fff;
    padding: 20px 45px;
    border-radius: 15px;
    box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.5), -10px -10px 30px -10px rgba(0, 0, 0, 0.5), -2px -10px 15px rgba(74, 74, 74, 0.5) inset;
}

#selfserve .cta .cta-text {
    font-size: 35px;
    font-family: "Montserrat-ExtraBold";
    color: #0A6CC3;
    margin: 0;
}

#selfserve .icons {
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    padding-bottom: 40px;
}

#selfserve .icons .icon {
    padding: 20px;
    scale: 0.75;
}

#selfserve .icons .icon:nth-child(2) {
    margin-left: -230px;
}

#footer {
    background: url('/Icons/footerbg.png') no-repeat center center/cover;
    width: 100%;
    height: auto;
}

#footer .nav-menu {
    justify-content: center;
    align-items: center;
    font-family: "Montserrat-Bold";
    font-size: 22px;
    padding: 50px 0;
}

#footer .nav-menu a {
    color: #fff;
    padding: 0 20px;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    margin: auto;
    max-width: 500px;
    border-radius: 15px;
}

#contact .form-title {
    font-family: "Montserrat-ExtraBold";
    font-size: 27px;
    color: #0A6CC3;
    text-align: center;
    padding: 20px 10px;
}

#contact input {
    display: block;
    margin: 8px auto;
    width: 90%;
    font-family: "Montserrat-Bold";
    padding: 11px 12px;
    background: #d4d4d4;
    border: none;
    font-size: 20px;
    border-radius: 15px;
}

#contact input::placeholder {
    color: #b5b5b5;
}

#contact a {
    display: block;
    margin: auto;
}

#contact a img {
    scale: 0.71;
}

#footer .foot-text {
    font-family: "Montserrat-Light";
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
/* marquee */

.marquee-full-width {
    width: 100%;
    overflow: hidden;
  }

  .marquee-box {
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    width: 100%;
  }

  .marquee {
    flex: 0 0 auto;
    min-width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: marqueescroll 18s linear 0s infinite;
    animation-play-state: running;
    animation-delay: 0s;
    animation-direction: normal;
  }

  .marquee figure {
    margin-right: 2.5rem;
    margin-left: -2rem;
    padding: -1px;
    max-width: 253px;
    text-align: center;
    vertical-align: top;
  }


  .marquee img {
    margin: 0 auto;
    height: auto;
    max-height: 150px;
    max-width: 150px;
    background: #fdfdfd;
    border: none;
  }

  .marquee-box:hover div {
    animation-play-state: running;
  }

  .marquee-box:active div {
    animation-play-state: running;
  }

  @keyframes marqueescroll {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }


.omkswipe {
	background-color: transparent;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
    width: 100%;
}
	.omkswipe::before,
	.omkswipe::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}

	.omkswipe::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	.omkswipe::before {
		left: 0;
		top: 0;
	}

	.omkswipe-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 14);
	}

	.track {
		height: 100px;
        width: 130px;
	}

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-250px * 7));
        }
    }



@media (max-width: 900px) {
    /* .options {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-family: "Montserrat-Bold";
        font-size: 16px;
    } */

    /* #selfserve .vid-container video {
        width: 800px;
        height: 1100px;
    } */

    #selfserve .icons .icon {
        scale: 0.5;
    }
}


@media (max-width: 500px) {
    #selfserve .steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #selfserve .vid-container video {
        width: 350px;
        height: 500px;
    }
}

/* @media(max-width:750px) {
    .options {
        display: none;
    }

    .menu-wrap {
        display: block;
    }
    
} */
@media screen and (min-width: 1900px){
    .btn_copy_content{
        font-size: 60px;
    }
    .visit_btn{
        width: 300px;
    }
}
@media (max-width: 1450px) {
    #selfserve .abs_self {
        scale: 0.8;
        top: -645px;
    }
}
@media screen and (max-width:1420px) {
    .options{
        width: auto;
    }
}
@media screen and (max-width:1270px) {
    .options{
        margin: 0px 0px 0px 22px;
        font-size: 15px;
    }
    .options div{
        padding: 15px;
    }
    .Hlogo img{
        width: 170px;
        height: 30px;
    }
    .btn_copy_content{
        width: auto;
        font-size: 35px;
        margin: 10px 10px 10px 26px;
    }
    .ab_us {
        margin: 20px 150px;
        text-align: center;
    }
    .wh_dco {
        width: 65%;
        margin: 0px 10px 0px 60px;
    }
    .why_dco {
        width: 65%;
        margin: 65px 50px 0px 10px;
    }
    .box-items{
        width: 70%;
    }
    #selfserve .abs_self {
        scale: 0.7;
        top: -602px;
    }
}
@media screen and (max-width:1100px) {
    #selfserve .abs_self {
        scale: 0.6;
    }

    #selfserve {
        margin-top: 460px;
    }

    #selfserve .self-title h4 {
        font-size: 30px;
    }

    #selfserve .steps .step .step-text {
        font-size: 20px;
    }
}
@media screen and (max-width:1010px) {
    .options{
        font-size: 11px;
    }
    .btn_copy_content{
        font-size: 28px;   
    }
    .ab_us{
        margin: 20px 60px;
    }
    .about_hrading{
        font-size: 29px;
    }
    .wh_dco {
        width: 80%;
        margin: 0px 10px 0px 30px;
    }
    .why_dco {
        width: 100%;
        margin: 35px 30px 0px 10px;
    }
    .para1, .para2, .type{
        line-height: 24px;
    }
    .sales_btn{
        margin: 26px 10px 10px 0px;
    }
    .box-items{
        width: 100%;
        padding: 5px 12px 5px 12px;
    }
    #footer .nav-menu{
        padding: 36px 0px;
        font-size: 18px;
    }
    #footer .nav-menu a {
        padding: 0 16px;
    }
    #contact .form-title {
        font-size: 24px;
    }
    #contact input{
        font-size: 18px;
    }
    #footer .foot-text{
        font-size: 18px;
    }
}
@media screen and (max-width:950px) {
    #selfserve .abs_self {
        scale: 0.5;
    }
}

@media screen and (max-width:830px) {
    #selfserve .abs_self {
        scale: 0.4;
    }

    #selfserve {
        margin-top: 420px;
    }
}
@media screen and (max-width:750px) {
    .options {
        display: none;
    }

    .menu-wrap {
        display: block;
    }
    .Hlogo img{
        width: 270px;
        height: 48px;
    }
    .navbar{
        padding: 18px 10px 10px 10px;
    }
    .menu-wrap{
        top: -5px;
    }
    .achive_head{
        font-size: 23px;
    }
    .comman_class{
        font-size: 22px;
        margin-right:20px !important;
    }
    .number_count{
        font-size: 55px;
    }
    .box-items{
        top: 49px;
        width: 90%;
    }
    .inner-box{
        height: 115px;
        width: 115px;
    }

.menu-wrap .toggler {
    top: 12px;
    right: 4px;
    width: 65px;
    height: 65px;
}
.menu-wrap .hamburger {
    top: 17px;
    right: 10px;
    width: 60px;
    height: 60px;
}
.para_gif_content{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.wh_dco{
    margin: 10px 20px 40px 20px;
}
.create_btn{
    margin: 40px 0px 10px 0px;
}
.f_head{
    font-size: 30px;
}
.s_head{
    font-size: 30px;
}
.para_gif_content2{
    flex-wrap: wrap;
    justify-content: center;
}
.type{
    justify-content: center;
}
.type img{
    display: none;
}
.sales_btn {
    margin: 26px 0px 10px 0px;
}
.why_dco{
    margin: 30px 10px 10px 10px;
    order: 1;
    text-align: center;
}
.why_dco_gif{
    order: 2;
}
.type{
    line-height: 32px;
}
.why_dco_gif img {
    scale: 1;
}
#footer .nav-menu a {
    padding: 0px 12px;
}
#footer .nav-menu {
    padding: 28px 0px;
    font-size: 14px;
}
#contact .form-title {
    font-size: 17px;
}
#contact input {
    font-size: 14px;
}
#contact a img {
    scale: 0.57;
}
#footer .foot-text {
    font-size: 14px;
}
#selfserve .steps {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#selfserve .icons .icon {
    scale: 0.75;
}
}

@media screen and (max-width:700px) {
    .para_vid{
        flex-wrap: wrap;
        justify-content: center;
    }
    .btn_copy_content{
        align-items: center;
        font-size: 34px;
        margin: 10px auto;
        padding: 10px 0px;
    }
    .ab_us{
        margin: 20px 20px;
    }
    .blue_bg{
        height: auto;
    }
}
@media screen and (max-width:600px) {
    #selfserve .abs_self {
        scale: 0.3;
        top: -670px;
    }
}
@media screen and (max-width:570px) {
    .achive_head{
        margin-bottom: 12px;
        margin-top: 16px;
        font-size: 19px;
    }
    .number_count{
        font-size: 46px;
    }
    .plus{
        font-size: 34px !important;
        top: 1px !important;
    }
    .cl{
        font-size: 17px !important;
    }
    .box-items{
        top: 32px;
        width: 100%;
    }
    .inner-box{
        width: 95px;
        height: 95px;
    }
    .pic_count{
        font-size: 22px;
    }
    .img_tags_para{
        font-size: 13px;
    }
    .comman_class{
        margin-right: 14px !important;
    }
    #achive_container{
        height: 400px !important;
        margin-bottom: 40px;
    }
    #client_use{
        margin: 20px 0px 30px 0px;
    }
    .clients_head{
        margin-bottom: 22px;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 24px !important;
    }
    #footer .nav-menu{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 100px;
    }
    #footer .nav-menu a {
        padding: 0px 26px;
    }
    #contact{
        margin: 15px;
        max-width: 100%;
    }
    #selfserve .abs_self {
        scale: 0.25;
    }

    #selfserve .cta .cta-text {
        font-size: 20px;
    }
}
@media screen and (max-width:426px) {
    .menu-wrap .menu>div>div>ul>li{
        font-size: 1rem;
    }
    ul{
        padding-inline-start: 0px;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    .menu-wrap .menu>div {
        height: 260px;
    }
    .btn_copy_content{
        font-size: 30px;

    }
    .visit_btn{
        width: 160px;
    }
    .para_vid{
        margin: 20px 0px 10px 0px;
    }
    .Hlogo img {
        width: 200px;
        height: 36px;
    }
    .menu-wrap .toggler {
        top: 12px;
        right: 4px;
        width: 54px;
        height: 48px;
    }
    .menu-wrap .hamburger {
        top: 14px;
        right: 10px;
        width: 50px;
        height: 50px;
    }
    .menu-wrap .hamburger>div {
        width: 176%;
    }
    .menu-wrap .menu>div {
        margin-top: 63px;
    }
    .para{
        padding: 25px 10px;
    }
    .wh_dco{
        margin: 10px 10px 40px 10px;
    }
    .type{
        line-height: 25px;
    }
    #achive_container{
        height: 360px !important;
    }
    #selfserve .cta .cta-text {
        font-size: 20px;
    }

    #selfserve .self-title h4 {
        font-size: 22px;
    }
}
@media screen and (max-width:423px) {
    .inner-box{
        width: 75px;
        height: 75px;
    }
    .img_tags_para{
        font-size: 11px;
    }
    .pic_count{
        font-size: 18px;
    }
    .achive_head{
        margin-bottom: 16px;
        margin-top: 8px;
        font-size: 16px;
    }
    .cl{
        font-size: 12px !important;
    }
    .number_count{
        font-size: 37px;
    }
   
}
@media screen and (max-width:400px){
    #footer .nav-menu a {
        padding: 0px 12px;
    }
}
@media (max-width: 376px) {
    #selfserve .abs_self {
        scale: 0.2;
    }

    #selfserve .cta .cta-text {
        font-size: 16px;
    }
    .box-items{
        padding: 5px 3px 5px 3px;
    }
    #client_use{
        margin: 0px 0px 30px 0px;
    }
}
