*{
    box-sizing: border-box;
}
.flx_row{
    display: flex;
    flex-direction: row;
}
.flx_col{
    display: flex;
    flex-direction: column;
}
.mp0{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    background: url('/Icons/bg.png') no-repeat;
    background-size:cover;
    /* min-height: 100vh; */
}
.complete_container{
    height: inherit;
    width: inherit;
}
.wh100{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: "Montserrat-Black";
    src: url("/fonts/Montserrat-Black.ttf");
}
@font-face {
    font-family: "Montserrat-BlackItalic";
    src: url("/fonts/Montserrat-BlackItalic.ttf");
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("/fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat-BoldItalic";
    src: url("/fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
    font-family: "Montserrat-ExtraBoldItalic";
    src: url("/fonts/Montserrat-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("/fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
    font-family: "Montserrat-ExtraLightItalic";
    src: url("/fonts/Montserrat-ExtraLightItalic.ttf");
}
@font-face {
    font-family: "Montserrat-Italic";
    src: url("/fonts/Montserrat-Italic.ttf");
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("/fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: "Montserrat-LightItalic";
    src: url("/fonts/Montserrat-LightItalic.ttf");
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "Montserrat-MediumItalic";
    src: url("/fonts/Montserrat-MediumItalic.ttf");
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: "Montserrat-SemiBoldItalic";
    src: url("/fonts/Montserrat-SemiBoldItalic.ttf");
}
@font-face {
    font-family: "Montserrat-Thin";
    src: url("/fonts/Montserrat-Thin.ttf");
}
@font-face {
    font-family: "Montserrat-ThinItalic";
    src: url("/fonts/Montserrat-ThinItalic.ttf");
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
}
.options{
    width: 50%;
    justify-content: space-between;
    margin: 0px 30px 0px 200px;
    font-family: "Montserrat-Bold";
    font-size: 16px;
}
.options div{
    cursor: pointer;
    text-transform: uppercase;
}